<div class="page-header">
  <h3>
    My Invoices
    <a href="/invoices/new" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">[Testing Only] New Invoice</a>
  </h3>
</div>
<div class="row">
  <!-- <div class="col-md-2 card">
  <h4>Invoices</h4>
  <br>
  <a href="/invoices/balance_due">Balance Due</a>
  <hr>
  <a href="/invoices">All</a>
  <hr>
</div> -->

<div class="col-md-6 col-md-offset-3">
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Invoice Month</th>
        <th>Unit</th>
        <th>Status</th>
        <th>Remaining Balance</th>
        <th>Assessment Type</th>
        <!-- <th>Actions</th> -->
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice| %>
      <tr>
        <% @paidamt = 0 %>
        <% invoice.payments.each do |payment| %>
        <% @paidamt += payment.amount %>
        <% end %>
        <!-- <% if @paidamt >= invoice.amount %>
        <% invoice.status = "Paid in Full" %>
        <% invoice.save %>
        <% elsif @paidamt > 0 %>
        <% invoice.status = "Partially Paid" %>
        <% invoice.save %>
        <% end %> -->
        <td>
          <a href="/invoices/<%= invoice.id %>">
            <%= Date::MONTHNAMES[invoice.created_at.month] %> <%= invoice.created_at.year %>
          </a>
        </td>
        <td>
          <% if invoice.unit.present? %>
          <%= invoice.unit.unit_number %>
          <% end %>
        </td>
        <td><%= invoice.status %></td>
        <td>
          <% if invoice.payments != nil %>
          $ <%= invoice.amount - @paidamt %>
          <% else %>
          $ <%= invoice.amount %>
          <% end %>
        </td>
        <td><%= invoice.assessment_type %></td>
        <!-- <td>
        <a href="/invoices/<%= invoice.id %>" class="btn btn-primary">Show</a>
      </td> -->
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @invoices, theme: 'twitter-bootstrap-4' %>
</div>
</div>
