<div class="page-header">
  <h4>Invoice for <%= @invoice.owner.first_name %> <%= @invoice.owner.last_name %>, Unit <%= @invoice.unit.unit_number %></h4>
</div>

<div class="row">
  <div class="col-md-4 mb-2 demo-card-wide mdl-card mdl-shadow--2dp">
    <dl class="dl-horizontal">
      <dt>Month</dt>
      <dd>
        <%= Date::MONTHNAMES[@invoice.created_at.month] %> <%= @invoice.created_at.year %>
      </dd>

      <% if @invoice.payments != nil %>
      <% @paidamt = 0 %>
      <% @invoice.payments.each do |payment| %>
      <% @paidamt += payment.amount %>
      <% end %>
      <% if @paidamt == 0%>
      <% @status = "Unpaid" %>
      <% elsif @invoice.amount > @paidamt %>
      <% @status = "Partially Paid" %>
      <% else %>
      <% @status = "Paid in Full" %>
      <% end %>
      <% else %>
      <% @status = "Unpaid" %>
      <% end %>


      </dd>

      <dt>Original Amount</dt>
      <dd>$ <%= @invoice.amount %></dd>

      <dt>Balance Due</dt>
      <dd>
        <% if @invoice.payments != nil %>
        <% @paidamt = 0 %>
        <% @invoice.payments.each do |payment| %>
        <% @paidamt += payment.amount %>
        <% end %>
        $ <%= @invoice.amount - @paidamt %>
        <% else %>
        $ <%= @invoice.amount %>
        <% end %>
      </dd>

      <dt>Status</dt>
      <dd><%= @status %>

      <dt>Assessment Type</dt>
      <dd><%= @invoice.assessment_type %></dd>

    </dl>

    <div class="mdl-card__actions mdl-card--border">
      <a href="/invoices" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Back
      </a>
    </div>

  </div>

  <div class="col-md-6 col-md-offset-1">
    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">
        Payments to Date
      </li>

      <% @invoice.payments.each do |payment| %>
      <li class="list-group-item">
        <%= payment.created_at.strftime('%b %d %Y') %>: $ <%= payment.amount %>
      </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_payment" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for invoice_id -->
          <input type="hidden" name="invoice_id" value="<%= @invoice.id %>">

          <!-- Label and input for amount -->

          <% if @status == "Paid in Full" %>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" disabled="disabled">
            Paid in Full: Payment Not Required
          </button>
          <% else %>
          <div class="form-group">
            <label for="amount" class="control-label">
              New Payment
            </label>

            <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" value="">
          </div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Create Payment
          </button>
          <% end %>
        </form>
        <hr>
        <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
          <% end %>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Association Dues"
        data-amount="500"
        data-locale="auto"></script>
        <% end %>

      </li>
    </ul>
  </div>
</div>
