<div class="page-header">
  <h3>
    Units in 949 Lake
  </h3>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Unit number</th>
          <th>Owner</th>
          <th>Tenant</th>
          <!-- <th>Monthly dues</th> -->
        </tr>
      </thead>
      <tbody>
        <% @units.each do |unit| %>
        <tr>
          <td><%= unit.unit_number %></td>
          <td>
            <% if unit.owner != nil %>
            <%= unit.owner.first_name %> <%= unit.owner.last_name %>
            <% end %>
          </td>
          <td>
            <% if unit.tenant != nil %>
            <%= unit.tenant.first_name %> <%= unit.tenant.last_name %>
            <% end %>
          </td>
          <!-- <td>$ <%= unit.monthly_dues %></td> -->
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @units, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
